

@import url('https://fonts.googleapis.com/css?family=Gotu&display=swap');


body {
    background-image: url(https://images.unsplash.com/photo-1471899236350-e3016bf1e69e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80) ;
    background-attachment: fixed;
    height: 300vh;
    font-family: 'Gotu', sans-serif;
    /* background-repeat: no-repeat; */
    object-fit: cover;
}



